#title {
  background-color: #ff4c68;
  color: #fff;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}
p {
  color: #8f8f8f;
}

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bolder;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
}

.container-fluid {
  padding: 3% 8% 3%;
}
.navbar {
  padding: 0 0 4.5rem;
}
.nav-item {
  padding: 0 18px;
}
.nav-linl {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}
.Download-btn {
  margin: 5% 3% 5% 0;
}
.tittle-image {
  width: 270px;
  transform: rotate(25deg);
  position: absolute;
  right: 23%;
}
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.features-box {
  text-align: center;
  padding: 5%;
}
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #ff4c68;
}

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.testimonials-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}
#pricing {
  padding: 100px;
  text-align: center;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bolder;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 1030px) {
  #title {
    text-align: center;
  }
  .tittle-image {
    position: static;
    transform: rotate(0);
  }
}

#cta {
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 20%;
}
#footer-dog {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bolder;
}
#footer {
  padding: 7% 20%;
  text-align: center;
}
.social-icon {
  margin: 20px 10px;
}
